.main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        masa
      %lu.main-header__left-box__member-list
        Member：
        %li.main-header__left-box__member-list__member 
          masa
    .main-header__edit-btn
      Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker
          masa 
        %p.message__upper-info__date
          2020/04/11(Sat) 16:46:47
      .message__text
        yabatann
  .form  
    %form.new-message#new-message
      .input-box
        %input.massege_content.input-box_text{ placeholder: "type a message", type: "text"}
          %label.input-box_image
            = icon('fas', 'image')
            %input{type: "file"}
      %input.submit-btn{value: "Send"}