%html
  %body  
    .side-bar
      .side-header
        .side-box
          %p.user-name 
            masa
          %ul.icon-box
            %li.icon-edit
            = link_to '#'
            %i.fa.fa-edit 
            %li.icon-cog
            = link_to '#'
            %i.fa.fa-cog
      .groups
        .group
          %p.group-name masa
          %p.group-message まだメッセージがありません
  